@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  font-family: 'Oswald', sans-serif;
  flex-direction: column;
  letter-spacing: 1px;

}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.navigation {
  padding: 0 30vh;
  height: 17vh;
  background:#feefc9;
  display: flex;
  justify-content: space-around;
  font-size: 1.3em;
  transition: 1s;

  &-transform {
    height: 11vh;
    transition: 1s;
  }
  &-logo {
    width: 20vh;
  }
  &-child {
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    &:hover {
      text-decoration: underline;
    }
    &:nth-child(5) {
      text-decoration: underline;
      cursor: auto;
    }
  }
}

.bienvenidos {
  margin-top: 9vh;
  &-blog1 {
    background-image: url("/mexican-food.jpg");
    height: 93vh;
    font-size: 8em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      width: 70vh;
      display: flex;
      text-align: center;
    }
  }

  &-blog2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0 13vh 0;
    background: #eae9e6;
    h1 {
      font-size: 3.5em;
      margin-bottom: 1vh;
    }
    span {
      width: 35%;
      font-size: 1.5em;
      text-align: center;
      font-weight: bold;
    }
  }

  &-blog3 {
    display: flex;
    justify-content: center;
    font-size: 2em;
    background: #ffba55;
    padding: 2vh 0;
  }
  &-blog4 {
    display: flex;
    img {
      width: 101vh;
      overflow-x: hidden;
    }
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
  height: 250vh;
  margin-bottom: -50vh;
  background:  #ffba55;
  &-transform {
    background: #9ff69d;
    transition: 1s;
  }
  & > span {
    font-size: 3em;
    padding: 13vh 0 5vh 0;
  }
  &-table {
    display: flex;
    font-size: 1.5em;
    flex-direction: column;
    border: 5px solid black;
    position: relative;

    &-1 {
      width: 45vh;
      top: 0;
      right: 30vh;
    }

    &-2 {
      width: 60vh;
      bottom: 51vh;
      left: 28vh;
    }

    &-3 {
      width: 65vh;
      bottom: 60vh;
      right: 40vh;
    }

    &-4 {
      bottom: 90vh;
      width: 40vh;
      left: 18vh;
    }
    &-header {
      display: grid;
      grid-template-columns: 1fr 12fr;
      padding: 0 1vh;
      border-bottom: 5px solid black;

      span {
        padding: 2vh;

        &:first-child {
          display: flex;
          padding: 1vh 2vh;
          font-size: 1.3em;
          border-right: 5px solid black;
        }
      }
    }
    &-body {
      display: flex;
      flex-direction: column;
      padding: 3vh;

      &-child {
        padding: 1vh 0;
      }
    }
  }
  button {
    position: relative;
    bottom: 70vh;
    width: 50vh;
    padding: 8vh;
    font-size: 1.5em;
    font-family: inherit;
    letter-spacing: 3px;
    outline: none;
    cursor: pointer;
    border: 5px solid black;
    background: none;
    transition: .5s;
    &:hover {
      background:#feefc9;
      transform: scale(1.03);
      transition: .5s;
    }
  }
}

.gallery {
  position: relative;
  width: 65%;
  margin: auto;
  overflow: hidden;
  &-btn {
    width: 8vh;
    cursor: pointer;
    position: absolute;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(46deg) brightness(100%) contrast(103%);
    top: 35vh;
    &-left {
      left: 5%;
      z-index: 1;
    }
    &-right {
      right: 5%;
      z-index: 1;
    }
  }
    &-carousel {
      display: flex;
      img {
        width: 100%;
      }
  }
}

.map {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: auto;
  width: 60%;
  margin-top: 15vh;
  font-size: 1.7em;

  &-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    text-align: center;
    img {
      width: 15vh;
      margin-bottom: 10vh;
    }
  }

  &-interactive {
    cursor: pointer;
    transition: 1s;
    margin: 1vh;
    &:hover {
      transform: scale(1.1);
      transition: 1s;
    }
    img {
      width: 50vh;
    }
  }

  &-skedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    text-align: center;
    span {
      margin: 2vh 0;
    }
  }
}
