@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.navigation {
  padding: 0 30vh;
  background:#ff66b6;
  display: flex;
  justify-content: space-around;
  font-size: 1.3em;
  font-family: 'Oswald', sans-serif;

  &-logo {
    width: 20vh;
  }
  &-child {
    display: flex;
    justify-content: center;
    height: 17vh;
    cursor: pointer;
    align-items: center;
    &:hover {
      text-decoration: underline;
    }
    &:nth-child(5) {
      text-decoration: underline;
      cursor: auto;
    }
  }
}
